auto-save-list/**
elpa/**
eln-cache/**
transient/**
straight/**
*.elc
projectile-bookmarks.eld
projects
recentf
helix/**
helix-mode/**
.cache/**
eshell/**
secrets/
smudge/
request/
semanticdb/**
tabsession.el
*.lsp-*
.mc-lists.el
autosaves/
backups/
.org-id-locations
bookmarks
org-roam.db
tramp
server/server
hel-multiple-cursors
history
